<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects</title>
</head>

<body>

  <h1>Projects</h1>

  <ul>
    <% projects.forEach(project => { %>
    <li>
      <a href="/projects/<%= project.id %>">
        <%= project.name %>
      </a>
    </li>
    <% }) %>
  </ul>

  <form action="/projects" method="POST">
    <h2>New Project</h2>
    <div>
      <label for="name">Project Name:</label>
      <input type="text" id="name" name="name" />
    </div>

    <button type="submit">Save Project</button>
  </form>
</body>

</html>
